/*
Theme Name: Salient Geophy
Theme URI: http://mysite.com/
Description: This is a custom child theme for Salient. Integrated with WM4D-Options. Geophy Lawrence Pagaspas and Thesabel Uy Tuto.
Author: Thesabel Uy Tuto
Author URI: http://thesabeltuto.blogspot.com/
Template: salient
Version: 1.0.7
*/

#gform-contactus{
display:none;
}

#header-outer{
z-index: 500!important;
}

.small-nav #head-phones{
/*	float: right;	*/
/*	width: 15%;	*/
/*	margin-bottom: 20px;	*/
/*	color: #000!important;	*/
padding-bottom: 45px;
padding-top: 9px;
}

.transparent #head-phones{
/*	float: right;	*/
/*	width: 15%;	*/
/*	margin-bottom: 20px;	*/
/*	color:#fff!important;	*/
padding-bottom: 45px;
padding-top: 9px;
}

.single #head-phones, .page #head-phones{
/*  float: right; */
/*  width: 15%; */
/*  margin-bottom: 20px; */
/*  color: #000; */
padding-bottom: 45px;
padding-top: 9px;
}

.phone-head a{
font-size: 15px;
    background-color: #21CDEC;
    padding: 10px 10px!important;
    border-radius: 5px;
    color: #fff!important;
    font-weight: bold;
}

.phone-head a:hover{
font-size: 15px;
    background-color: #21CDEC;
    padding: 10px 10px!important;
    border-radius: 5px;
    font-weight: bold;
}

#text-4 .icon-normal{
	margin:0!important;
	font-size:40px;
	color:#fff;
	display:block;
	float:left;
	margin-right: 20px;
}

.fa-mobile{
	font-size:60px!important;
}

#text-4 span{
	float:left;
	display:inline-block;
	margin-left:20px;
	padding-bottom:20px;
}
	
#text-4 .wpb_wrapper p{
	clear:both;
}
.wpb_wrapper a{
	font-weight: bold;
}

.home-last-column-text p{
	font-size: 35px;
}

.home-last-column-text a{
	margin: 0 10px;
}

.seventh-column-row .vert-center h3{
	color: #fff!important;
	font-size: 30px!important;
}
.seventh-column-row .vert-center p{
	color: #fff!important;
	font-size:15px!important;
	 text-transform: uppercase;
}

#copyright .container{
	max-width: 1600px!important;
}

.footer-motto{
	text-align: right;
	margin: 0 auto;
	display:inline-block;
}

#copyright ul
{
list-style-type: none;
padding: 0;
margin: 0;
float:none!important;

}

#copyright li
{
background-image: url('/wp-content/uploads/2015/11/footer-icon.png');
background-repeat: no-repeat;
background-position: 0 .4em;
padding-left: 5.6em;
height:50px;
color:#fff;
}

header#top nav > ul > li > a{
font-size:15px!important;
}

#author-bio, .blog_next_prev_buttons, .author-section, #single-below-header{
display:none;
}

#footer-widgets .col_last h4{
	font-size: 16px!important;
}


/***************RESPONSIVE CSS********************/

@media only screen and (max-width: 1000px) and (min-width: 1px) {
#head-phone{float:none!important; width:100%!important; margin:0 auto; color:#000!important; text-align:center;}
.home-last-column-text p{line-height:100%;}
.home-last-column-text a{margin-top:20px;}
.transparent #head-phone{color: #000!important; margin-bottom: 20px;}
}

@media (min-width: 1001px) {
#head-phone{display:none;}
}

@media only screen and (max-width: 1400px) and (min-width: 1001px) {
.home-last-column-text a{margin-top:20px;}
}

@media only screen and (max-width: 1199px) and (min-width: 1001px) {
nav .sf-menu {float: none!important;position: relative!important;display: inline-block!important;margin: 0 auto!important;text-align: center!important;}
nav .buttons {float: none!important;text-align: right!important;position: relative!important;display: block!important;margin: 0 auto!important;}
nav #search-btn {float: right!important;}
.home-testi{height: auto!important;}
.test1{	height: 100%!important;}
.test1 img.img-with-animation {	height: 100%!important;	max-width:53%!important;width: 100%!important;}
}

@media (min-width: 992px){
.home-viewmore-button{display:none;}
}

@media (max-width: 991px){
.home-viewmore-button{display:block;margin-top:20px}
}

@media (min-width: 690px){
#copyright .span_5{width: 70%!important;}
}
@media only screen and (max-width: 690px){
.home-meet-div{margin:5% 2%!important}
.mobile-hide{display:none!important;}
}
